#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.container
{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.card
{
  height: 500px;
  width: 200px;
  padding: 75px 50px;
}
.title
{
  height: 60px;
}
.description
{
  text-align: start;
  height: 100px;
  overflow: hidden;
}
.description,.price,.rating,.count
{
  text-align: start;
}
.image
{
  height: 400px;
  width: 300px;
  
}
